@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
<style>

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
    animation: fadeInDown 1s;
}
.reminder-container {
    background-color: #ffecb3;
    border: 1px solid #ffb74d;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    animation: fadeInUp 1s;
}
.reminder-text {
    font-size: 18px;
    color: #e65100;
}
.register-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.register-button:hover {
     background-color: #45a049;
}
</style>
</head>

<center>
<div class="reminder-container">
    <p class="reminder-text">Zapraszamy do wykupienia dostępu PPV! Tylko zarejestrowani użytkownicy mają pełny dostęp do transmisji walk.</p>
    <button class="register-button" onclick="location.href='Identity/Account/Register'">Zarejestruj się teraz</button>
</div>
</center>