@model PPV_MMA.Models.UserModel

@{
    ViewData["Title"] = "PPV MMA - Kup PPV";
}

<!-- Formularz zakupu PPV -->
<h2>Kup PPV</h2>
<form asp-action="PurchasePPV">
    <div>
        <label asp-for="FullName">Imię i Nazwisko:</label>
        <input asp-for="FullName" class="form-control" required />
    </div>
    <div>
        <label asp-for="CardNumber">Numer Karty Kredytowej:</label>
        <input asp-for="CardNumber" class="form-control" required />
    </div>
    <div>
        <label asp-for="ExpirationDate">Data Ważności:</label>
        <input asp-for="ExpirationDate" class="form-control" placeholder="MM/RR" required />
    </div>
    <div>
        <label asp-for="CVV">CVV:</label>
        <input asp-for="CVV" class="form-control" required />
    </div>
    <div>
        <button type="submit">Kup PPV</button>
    </div>
</form>