@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
    <script>
        window.setTimeout(function () {
            window.location.href = "./Login";
        }, 4000);
    </script>
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />