@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        Response.Redirect(Model.EmailConfirmationUrl);
    }
    else
    {
        <p>
                Please check your email to confirm your account.
        </p>
    }
}

